body {
  margin: 0;
  color: rgb(131, 123, 117);
}

.MuiButton-label {
  text-transform: none;
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
